<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat UI</title>
</head>

<body>
    <div class="container">
        <div class="leftSide">
            <div class="header">
                <div class="userimg">
                    <img src="/assets/icon.png" class="cover">
                </div>
                <ul class="icon-list">
                    <li><img src="/assets/status.png" alt="Circle Icon"></li>
                    <li><img src="/assets/chat.png" alt="Chat Icon"></li>
                    <li><img src="/assets/dots.png" alt="Dots Icon"></li>
                </ul>
            </div>

            <div class="search">
                <div class="search-icon">
                    <img src="/assets/search.png" class="cover" > 
                    <input type="text" class="search-input" placeholder="  search.......">
                </div>
            </div>

            <div class="chatList">
                <div class="block active">
                    <div class="imgbx">
                        <img src="/assets/icon.png" class="cover">
                    </div>
                    <div class="details">
                    <div class="listHead">
                        <h4>Tumi</h4>
                        <p class="time">12:00</p>
                </div>
                <div class="message_p">
                    <p>Hey, How are you?</p>
                    
                </div>
            </div>
        </div>
        <div class="block unread">
            <div class="imgbx">
                <img src="/assets/icon.png" class="cover">
            </div>
            <div class="details">
            <div class="listHead">
                <h4>Benny</h4>
                <p class="time">12:00</p>
        </div>
        <div class="message_p">
            <p>Hey</p>
            <b>1</b>
        </div>
    </div>
</div>

    </div>
</div>
        <div class="rightSide">
            <div class="header">
                <div class="imgText">
                    <div class="userimg">
                        <img src="/assets/icon.png" class="cover">
                    </div>
                    <h4>Tumi<br><span>online</span></h4>
                </div>
                <ul class="icon-list">
                    <li><img src="/assets/search.png" alt="search Icon"></li>
                    <li><img src="/assets/dots.png" alt="Dots Icon"></li>
                </ul>
            </div>
            <div class="ChatBox">
                <div class="message my_message">
                <p>hey<br><span>12:00</span></p>
            </div>
            </div>
            <div class="ChatBox">
                <div class="message frnd_message">
                <p>hy<br><span>12:05</span></p>
            </div>
            </div>
            <div class="ChatBox">
                <div class="message my_message">
                <p>how are you <br><span>12:10</span></p>
            </div>
            </div>
            <div class="ChatBox">
                <div class="message frnd_message">
                <p>fine and you?<br><span>12:20</span></p>
            </div>
            </div>
            <div class="ChatBox">
                <div class="message my_message">
                <p>good!<br><span>12:30</span></p>
            </div>
            </div>
            <div class="ChatBox">
                <div class="message frnd_message">
                <p>what are you buzy with?<br><span>12:40</span></p>
            </div>
            </div>
            <div class="ChatBox">
                <div class="message my_message">
                <p>watching Netflix<br><span>12:50</span></p>
            </div>
            </div>
        
                  <div class="chatbox_input">
                    
                    <ul class="icon-list">
                        <li><img src="/assets/smile.png" alt="Smile Icon"></li>
                        <li><img src="/assets/attach.png" alt="Attach Icon"></li>
                    </ul>

                  <input type="text" placeholder="Type a message">
                  </div>
                  
        </div>
    </div>
</body>
</html>
